// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&display=swap');

$main-color: #3da9fc;
$base-color: #dedede;
$highlight-color: #ffffff;
$shadow-color: #bdbdbd;
$shadow: 9px 9px 13px $shadow-color;
$highlight: -9px -9px 13px $highlight-color;